//variables
//map
$animation:(
num-times: 1,
timing: ease-in,
time: 1s);

//Mixin
@mixin movement {

  animation-iteration-count:map-get($animation,num-times);
  animation-timing-function: map-get($animation,timing);
  animation-duration: map-get($animation,time);
  animation-delay: map-get($animation,time);

}


.mainIni__frase1 {
  animation-name: entrada1;
  @include movement;
}

@keyframes entrada1 {
  0% {
    transform: translateX(-100%);
  }
  25% {
    transform: translateX(-75%);
  }
  50% {
    transform: translateX(-50%);
  }
  75% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(0%);
  }
}

.mainIni__frase2 {
  animation-name: entrada2;
  @include movement;
}
 


@keyframes entrada2 {
  0% {
    transform: translateX(100%);
  }
  25% {
    transform: translateX(75%);
  }
  50% {
    transform: translateX(50%);
  }
  75% {
    transform: translateX(25%);
  }
  100% {
    transform: translateX(0%);
  }
}

.mainNos__titulo {
  animation-name: entrada3;
  @include movement;
}

@keyframes entrada3 {
  0% {
    transform: translateX(-100%);
  }
  25% {
    transform: translateX(-75%);
  }
  50% {
    transform: translateX(-50%);
  }
  75% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(-0%);
  }
}

.mainProd__titulo {
  animation-name: entrada4;
  @include movement;
}

@keyframes entrada4 {
  0% {
    transform: translateX(-100%);
  }
  25% {
    transform: translateX(-75%);
  }
  50% {
    transform: translateX(-50%);
  }
  75% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(-0%);
  }
}

.mainServ__titulo {
  animation-name: entrada5;
  @include movement;
}

@keyframes entrada5 {
  0% {
    transform: translateX(-100%);
  }
  25% {
    transform: translateX(-75%);
  }
  50% {
    transform: translateX(-50%);
  }
  75% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(-0%);
  }
}

.mainContact__titulo {
  animation-name: entrada6;
  @include movement;
}

@keyframes entrada6 {
  0% {
    transform: translateX(-100%);
  }
  25% {
    transform: translateX(-75%);
  }
  50% {
    transform: translateX(-50%);
  }
  75% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(-0%);
  }
}
