//variables
$num-times:1;
$timing: ease-in;
$time: 1s;


.main__frase1{
    animation-name: entrada1;
    animation-iteration-count: $num-times;
    animation-timing-function: $timing;
    animation-duration: $time;
    animation-delay: $time;
          }
             
       @keyframes entrada1 {
           0% {
               transform: translateX(-100%);
               }
               25% {
               transform: translateX(-75%);
               }
               50% {
               transform: translateX(-50%);
               }
               75% {
               transform: translateX(-25%);
               }
               100% {
               transform: translateX(0%);
               }
             }

.main__frase2{
                animation-name: entrada2;
                animation-iteration-count: $num-times;
                animation-timing-function: $timing;
                animation-duration: $time;
                animation-delay: $time;
               }

               @keyframes entrada2 {
                0% {
                    transform: translateX(100%);
                    }
                    25% {
                    transform: translateX(75%);
                    }
                    50% {
                    transform: translateX(50%);
                    }
                    75% {
                    transform: translateX(25%);
                    }
                    100% {
                    transform: translateX(0%);
                   }
           }