
//IMPORT
@import "animacion";

//Variables 
$colorfondo:rgb(45, 64, 89);
$l: "Rubik", sans-serif;
$blanco:white;
$negrita: bolder;
$redon: 10px;
$pad: 1px;
$fondo-frase:rgba(255, 255, 255, 0.582);
$text-cent: center;
$size-letra: 4em;
$redon2: 20px;


//Anidación y Ampersand

body {
  background-color: $colorfondo;
  font-family: $l;


   .sinpadding {
     padding-right: 0px;
     padding-left: 0px;
     overflow: hidden;
  
   .header{
     margin-top: 5px;
       
       .header__img{
                background-color: $blanco;
                border-radius: 45%;
                margin: 2px 2px 2px 2px;

                &:hover{
                  background-color: lightskyblue;
                }
              }

       .header__inf {
                font-size: 2.5vh;
                font-family: $l;
                background-color: transparent;
                color: rgb(219, 212, 212);
                margin: 1vh;
                font-weight: $negrita;
              }

       .header__icono1 {
         background-color: $blanco;
         border-radius: $redon;
         padding: $pad;

            &:hover{
              background-color: mediumaquamarine;
            }
              }
     
       .header__icono2 {
         background-color: $blanco;
         border-radius: $redon;
         padding: $pad;

            &:hover{
              background-color: mediumaquamarine;
            }
              }
     
       .header__icono3 {
         background-color: $blanco;
         border-radius: $redon;
         padding: $pad;

            &:hover{
              background-color: mediumaquamarine;
            }
              }

      
       .header__nav { 
                font-weight: $negrita;
                font-size: 3vh;
              }


             }

   .main {
       background-image: url(../imagenes/cakewall.jpg);
       background-size: cover;
       background-repeat: no-repeat;
       text-align: center;
       height: 65vh;

       .main__frase1 {
           background-color:$fondo-frase;
           text-align: $text-cent;
           font-size: $size-letra;
           border-radius: $redon2;
           color: rgb(161, 18, 18);
           margin: 30px 30px 30px 30px;
           }

       .main__frase2 {
           background-color:$fondo-frase;
           text-align: $text-cent;
           font-size: $size-letra;
           border-radius: $redon2;
           color: rgb(9, 67, 145);
           margin: 30px 30px 10px 30px;
         }
        }  
       

   .footer {
           font-weight: normal;
           font-size: 2.5vh;
           color:$blanco;
           text-align: $text-cent;
   }
   }
  }